<div class="container not-found">
  <div class="not-found__icon">
    <app-icon name="compass" [size]="32" />
  </div>
  <p class="not-found__eyebrow">404</p>
  <h1 class="not-found__title">This page wandered off the map</h1>
  <p class="not-found__description">
    We couldn't find the page you were looking for. Try heading back home, or jump straight to one of
    the guides.
  </p>

  <div class="not-found__actions">
    <a routerLink="/" class="not-found__link not-found__link--primary">Back to homepage</a>
    <a routerLink="/brazil" class="not-found__link">Brazil</a>
    <a routerLink="/ceara" class="not-found__link">Ceará</a>
    <a routerLink="/fortaleza" class="not-found__link">Fortaleza</a>
  </div>
</div>
